/* Font imports */
/* Roboto - font-family: 'Roboto', sans-serif; - */
/* Playfair Display - font-family: 'Playfair Display', serif; - */
/* Montserrat - font-family: 'Montserrat', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
	--bgc: #0891b2;
	background-color: #000;
	font-family: Roboto, "playfair Display", Montserrat, sans-serif;
}

body {
	width: 75vw;
	margin: auto;
	background-color: #fff;
}

/* Header Section */
header {
	position: relative;
	height: 30vw;
	/* overflow: hidden; */
}

header::before {
	height: 75vh;
	content: "";
	position: absolute;
	top: -30%;
	right: 0;
	left: 0;
	bottom: 0;
	background: var(--bgc);
	transform: skewY(-12deg);
}

.wrapper {
	position: relative;
	display: flex;
	align-items: center;
	top: 3rem;
	left: 3rem;
	margin-right: 3rem;
}

#myImage {
	background: url("./images/header2.jpg") bottom/cover;
	width: 100%;
	height: 60vh;
	text-align: center;
	font-size: 2rem;
	font-weight: 900;
	color: rgb(255, 238, 0);
	text-shadow: 1px 1px 2px #000, 0 0 1em #000, 0 0 0.2em #000;
}

#myImage p {
	padding: 2rem;
}

#aboutMe {
	width: 100%;
	box-shadow: 2px 2px 10px 2px #000;
	word-wrap: break-word;
	height: 45vh;
	background-color: #fff;
	margin-right: 3rem;
	padding: 0.5rem;
	overflow: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
}

#aboutMe h2 {
	padding-bottom: 1rem;
	padding-top: 1rem;
	font-size: 2rem;
	font-weight: 900;
}

.social {
	align-self: flex-end;
}

.social a {
	color: #000;
	text-decoration: none;
}

.social span:nth-child(1) svg:hover {
	color: blue;
	width: 30px;
	height: 30px;
}
.social span:nth-child(2) svg:hover {
	width: 30px;
	height: 30px;
}
.social span:nth-child(3) svg:hover {
	color: #084cb2;
	width: 30px;
	height: 30px;
}
.social span:nth-child(4) svg:hover {
	color: rgb(0, 174, 255);
	width: 30px;
	height: 30px;
}
/* End of Header Section */

main {
	margin-top: 150px;
}
footer {
	background-color: var(--bgc);
}

/* @media screen and (max-width: 768px) {
	.wrapper {
		flex-direction: column;
		align-content: center;
	}
	#aboutMe {
		height: auto;
	}
}

@media screen and (max-width: 500px) {
	#aboutMe {
		height: 20vw;
	}
} */
