body {
	font-family:
		-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	margin: 0;
	min-height: 100vh;
}

.header {
	height: 72px;
	background: darkmagenta;
	color: white;
}

.footer {
	height: 72px;
	background: #eee;
	color: darkmagenta;
}

.sidebar {
	width: 300px;
	background: royalblue;
	box-sizing: border-box;
}

.card {
	border: 1px solid #eee;
	box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.06);
	border-radius: 4px;
}

/* My solution */

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: space-between;
}

.header {
	font-size: 32px;
	font-weight: 900;
	height: auto;
	padding: 16px;
}

.main-content {
	flex: 1;
	display: flex;
}

.sidebar {
	width: 300px;
	flex-shrink: 0;
	padding: 16px;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	margin-bottom: 1rem;
}

a {
	font-size: 24px;
	text-decoration: none;
	color: white;
}

.card {
	flex: 1 0 200px;
	height: 200px;
	padding: 1rem;
}

.card-group {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	padding: 48px;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

