body {
	background-color: #fff;
	color: #333;
	font: 1em / 1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
	padding: 1em;
	margin: 0;
}

* {
	box-sizing: border-box;
}

ul {
	display: grid;
	grid-gap: 10px;
}

sup {
	color: red;
}

input:invalid,
textarea:invalid {
	box-shadow: 1px 1px 1px 1px rgb(241, 79, 79);
}

ul li input:invalid + ul li button {
	background: red;
}
